.custom_button_1 {
   width: 500px;
}

.custom_button_1 bk-btn {
   background-color: lightblue;
   font-weight: bold;
   color:navy;
   border-style:solid;
   border-width: 10px;
   border-color:navy;
   height: 300px;
}